/* Section workflow */

.section-workflow {
  max-width: 1110px;
  margin: 30px auto 0px;
  text-align: center;
  padding: 0px 20px;
}

.workflow-list {
  display: flex;
  /* gap: 30px; */
  margin-top: 76px;
  flex-wrap: wrap;
}

.workflow-item {
  padding: 10px;
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;
}

.workflow-item h3 {
  margin-top: 44px;
  margin-bottom: 16px;
}

.workflow-item img {
  place-self: center;
}

li.workflow-item:nth-child(n+2) img{
  padding-bottom: 8px;
}